body,
html {
  /* position: fixed; */
  width: 100%;
  background-color: #EFEFEF;
  color: #404040;
  margin: 0;
  font: Open Sans;
  font-family: sans-serif;
}


h1 {
  font-size: 45px;
}

.white-font-color {
  color: #FFFFFF;
}

.welcome-banner {
  margin: 0px;
  padding-top: 5px;
  padding-left: 3px;
  padding-bottom: 2px;
  background: linear-gradient(70deg, #F93C43 30%, #CAEBF2  30%);
}

.request-container {
  /* align-items: center; */
  /* width: 100%; */
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  /* display: flex; */
  /* align-items: flex-start; */
  /* width: 20%; */
}

.request-form {
  /* height: 20%; */
  /* font-size: 25px; */
  background-color: #A9A9A9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  /* padding-bottom: 8px; */
}

.request-title {
  /* width: auto; */
  font-style: italic;
  margin-top: 0px;
  padding-top: 3px;
  margin-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  /* margin-bottom: 10px; */
}

.input-style {
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  font-size: 18px;
  /* margin: 2px; */
}

.form-submit-button {
  /* width: 100px; */
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #F93C43;
  /* font-size: 20px; */
  /* background: #F93C43; */
  align: center;
}



.trips-container {
  /* height: 90%; */
  /* padding-left: 1%; */
  /* width: 95%; */
  margin-top: 1%;
  /* margin-bottom: 1%; */
  /* margin-left: 2%;
  margin-right: 2%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  /* flex-direction: column; */
  /* flex-direction: column; */

  /* justify-content: center; */
  /* align-items: center; */
}

.trips-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  /* grid-column: auto; */

  /* flex: 50%; */
  /* grid-template-rows: repeat(1, minmax(0, 1fr)); */
  grid-gap: 10px;

  /* height: 90%; */
  /* margin-left: 10%; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

@media (max-width: 800px) {
  .trips-container {
    flex-direction: column;
  }
}

.destination-image {
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  max-width: 40%;
  margin-bottom: 10px;
}

.trip-box {
  /* height: 80%; */
  /* height: 800px; */
  /* height: 90%; */
  /* height: %; */
  /* width: 90%; */
  /* height: 300px;
  weight: 500px; */
  display: flex;
  margin: 5px;
  flex: 50%;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 25px; */
  background-color: #FFFFFF;
  border-radius: 10px;
  padding-bottom: 20px;
  /* margin: 0px; */
}

.trip-display {
  /* display: flex;
  align-items: center; */
  margin: 1px;
  /* padding: 0px;
  margin: 0px; */
}

.trip-title {
  margin-bottom: 10px;
  font-size: 35px;
  /* color: #A9A9A9 */
}

.shadow {
  box-shadow: 0 8px 8px -4px #A9A9A9;
}

.scroll-content {
  overflow: auto;
}

.no-trip-info {
  background: #CAEBF2;
  text-align: center;
  width: 100%;
  font-size: 30px;
  /* color: #F93C43 */
}

.blur-all {
  filter: blur(25px);
}

.remove {
  display: none;
}

.confirm-trip-display {
  width: auto;
  margin: auto;
}
